name: Website CI/CD

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Check Specs Link and Section
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test for Specs Link
        run: |
          if ! grep -q 'href="#spec"' index.html; then
            echo "Specs link not found!"
            exit 1
          fi
      - name: Test for Tech Specs Section
        run: |
          if ! grep -q 'id="spec"' index.html; then
            echo "Tech Specs section not found!"
            exit 1
          fi

  build:
    name: Prepare for Deployment
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: Create build folder and copy files
        run: |
          mkdir -p build
          cp index.html style.css *.png *.jpg build/ || true
          ls build/  # للتأكد من وجود الملفات

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
